
extends ../../../../components/form/layouts/layout-form-filter

block children
  -const inputText = '<div class="af-form__text"><input class="af-form__input-text af-form__input-text--hasinfobulle" id="inputtext1" name="inputtextname" type="text" /><button class="btn af-btn af-btn--ok">OK</button><small class="af-form__help">Aide à la saisie</small></div>';
  -const text = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit aliquam soluta optio in beatae repudiandae tempore libero a expedita ullam minima, illum ipsam tempora omnis! Similique quibusdam fugit et.';
  -const listAccordion = [{title:"Socle de garantie", id:"One", active: true, content: text},{title:"N° contrat", id:"Two", content:text}, {title:"Application", id:"Three", active:true, content:inputText}, {title:"Imprimé", id:"Four", content:inputText}];
  .af-filter
    article.af-panel
      header.af-panel__header
        h3.af-panel__title Filtrer
        a.af-panel__reset(href="#reset" title="Ré-initialiser les filtres de recherche")
          include ../../../guidelines/icones/templates/reset.pug
          span.af-panel__reset-text Reset
      section.af-panel__content
        ul.af-filter-selected
          li.af-filter-selected__item
            span.af-filter-selected__item-text Nom du client
            include ../../../guidelines/icones/templates/close.pug
          li.af-filter-selected__item
            span.af-filter-selected__item-text N° Client
            include ../../../guidelines/icones/templates/close.pug
        .af-accordion.af-accordion--arrow-right(role="tablist" aria-multiselectable="true")
          each item, index in listAccordion
            .af-accordion__item
              .af-accordion__item-header(role="tab" id=`heading${item.id}`)
                h3.af-accordion__item-title(role="intera")
                  if item.active
                    include ../../../guidelines/icones/templates/menu-up.pug
                  else
                    include ../../../guidelines/icones/templates/menu-down.pug
                  a.af-accordion__item-toggle(data-toggle="collapse" href=`#collapse${item.id}` aria-expanded="true" aria-controls=`collapse${item.id}`) #{item.title}
              .af-accordion__collapse(role="tabpanel" aria-labelledby=`heading${item.id}` id=`collapse${item.id}` class=(item.active) ? "af-accordion__collapse--open" : "")
                .af-accordion__block !{item.content}
