-const listAccordion = [{title:"Socle de garantie", id:"One", active: true },{title:"Socle de garantie 2", id:"Two"}, {title:"Socle de garantie 3", id:"Three"}];
-const listSample = [" Lorem ipsum dolor sit amet, consectetur adipisicing elit.", "<p>Te Lorem ipsum dolor sit amet, consectetur adipisicing elit.st<p><strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>", "<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<p><strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>"]
h2.af-title Classic Accordion
.af-accordion(role="tablist" aria-multiselectable="true")
  each item, index in listAccordion
    .af-accordion__item(class=(item.active) ? "af-accordion__item--open" : "")
      .af-accordion__item-header(role="tab" id=`heading${item.id}`)
        h3.af-accordion__item-title(role="intera")
          span.glyphicon(class=(item.active) ? "glyphicon-menu-up" : "glyphicon-menu-down")
          a.af-accordion__item-toggle(data-toggle="collapse" href=`#collapse${item.id}` aria-expanded="true" aria-controls=`collapse${item.id}`) #{item.title}
      .af-accordion__collapse(role="tabpanel" aria-labelledby=`heading${item.id}` id=`collapse${item.id}` class=(item.active) ? "af-accordion__collapse--open" : "")
        .af-accordion__block
          ul.af-check__list
            each listitem in listSample
              li.af-check__item !{listitem}
br
br
h2.af-title Classic Accordion with right arrow
.af-accordion.af-accordion--arrow-right(role="tablist" aria-multiselectable="true")
  each item, index in listAccordion
    .af-accordion__item(class=(item.active) ? "af-accordion__item--open" : "")
      .af-accordion__item-header(role="tab" id=`heading${item.id}`)
        h3.af-accordion__item-title(role="intera")
          span.glyphicon(class=(item.active) ? "glyphicon-menu-up" : "glyphicon-menu-down")
          a.af-accordion__item-toggle(data-toggle="collapse" href=`#collapse${item.id}` aria-expanded="true" aria-controls=`collapse${item.id}`) #{item.title}
      .af-accordion__collapse(role="tabpanel" aria-labelledby=`heading${item.id}` id=`collapse${item.id}` class=(item.active) ? "af-accordion__collapse--open" : "")
        .af-accordion__block
          ul.af-check__list
            each listitem in listSample
              li.af-check__item !{listitem}
br
br
h2.af-title Classic Accordion universe example (habitation)
.af-accordion.af-accordion--habitation(role="tablist" aria-multiselectable="true")
  each item, index in listAccordion
    .af-accordion__item(class=(item.active) ? "af-accordion__item--open" : "")
      .af-accordion__item-header(role="tab" id=`heading${item.id}`)
        h3.af-accordion__item-title(role="intera")
          span.glyphicon(class=(item.active) ? "glyphicon-menu-up" : "glyphicon-menu-down")
          a.af-accordion__item-toggle(data-toggle="collapse" href=`#collapse${item.id}` aria-expanded="true" aria-controls=`collapse${item.id}`) #{item.title}
      .af-accordion__collapse(role="tabpanel" aria-labelledby=`heading${item.id}` id=`collapse${item.id}` class=(item.active) ? "af-accordion__collapse--open" : "")
        .af-accordion__block
          ul.af-check__list
            each listitem in listSample
              li.af-check__item !{listitem}
br
br
h2.af-title Classic Accordion light
.af-accordion.af-accordion--light(role="tablist" aria-multiselectable="true")
  each item, index in listAccordion
    .af-accordion__item(class=(item.active) ? "af-accordion__item--open" : "")
      .af-accordion__item-header(role="tab" id=`heading${item.id}`)
        h3.af-title.af-accordion__item-title(role="intera")
          span.glyphicon(class=(item.active) ? "glyphicon-menu-up" : "glyphicon-menu-down")
          a.af-accordion__item-toggle(data-toggle="collapse" href=`#collapse${item.id}` aria-expanded="true" aria-controls=`collapse${item.id}`) #{item.title}
      .af-accordion__collapse(role="tabpanel" aria-labelledby=`heading${item.id}` id=`collapse${item.id}` class=(item.active) ? "af-accordion__collapse--open" : "")
        .af-accordion__block
          ul.af-check__list
            each listitem in listSample
              li.af-check__item !{listitem}
