mixin Demo({ modifier='', title="Set Demo Title", tmpl = '', storybook='', activePath, sassPath = '' })
    -const classComponent = `${setClass('demo', modifier, true)}`
    -const tmplPath = `./src/pages${activePath}/templates/${tmpl}.pug`
    -const htmlCode = pugg.compileFile(tmplPath, { pretty: true })
    -const sassCode = sassPath !== '' ? fs.readFileSync(`node_modules/@axa-fr/${sassPath}`, 'utf8') : 'No style'
    block
    article(class=classComponent)
        +Title({level: "h2", modifier:"demo"})
            | #{title}
        div(class=`${prefix}-demo__display`)
            +Icon({id:'full-screen', modifier:"demo-open", js:true})
            +Icon({id:'cross-full', modifier:"demo-close", js:true})
            div(class=`${prefix}-demo__template`)
              | !{htmlCode()}
        +Tabs({modifier:'demo'})
            +TabsNavLayout()
                +TabsNavItem({index:11,modifier:'active', active:true})
                    span HTML
                +TabsNavItem({index:12})
                    span SASS
                +TabsNavItem({index:13})
                    span REACT
            +TabsContentLayout()
                +TabsContentItem({index:11, modifier:'active' , active:true})
                  +Code({ htmlCode: beautifyHtml(htmlCode()) })
                +TabsContentItem({index:12})
                  +Code({ sassCode: beautifyCss(sassCode) })
                +TabsContentItem({index:13})
                  iframe(class=`${prefix}-demo__iframe` src=`${storybookIframeUrl}${storybook}`)
