extends ./commons/layout
block meta
  -const { metatitle, metadescription, metakeywords } =  require('../src/pages/home/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -const {intro} = require('../src/pages/home/home.js')
block menu
  +Menu({})
block content
  div(class=`${prefix}-home`)
    +IntroHeader({intro, cmpt:'home'})
    section(class=`${prefix}-home__getstarted`)
      div(class=`${prefix}-home__getstarted-content`)
        h3(class=`${prefix}-home__getstarted-title`) Personnalized
        p(class=`${prefix}-home__getstarted-text`)
          | With over thirty modules, personalize your tools so they best fit your needs.
          | Select only the modules you needs and get quicky functionals and web normalized pages.
        h3(class=`${prefix}-home__getstarted-title`) Simple
        p(class=`${prefix}-home__getstarted-text`)
          | Install the toolkit with just a sign on your terminal. Then copy and
          | paste each module needed to install it.Thanks to the toolkit you get
          | in few minutes a functional page.
        +ButtonLink({ modifier:'has-icon-right', label: 'GET STARTED', icon:'arrowthin-right', href:'/get-started'})
    section(class=`${prefix}-home__explore`)
      h3(class=`${prefix}-home__explore-title`)
        | Explore the
        span(class=`${prefix}-slash`)
          | Slash
        | Design System
      div(class=`${prefix}-home__encarts`)
        +Encart({ image:"ux.svg", title:"UX Guidelines" , text:"All rules and guidelines for all components and UX patterns."})
        +Encart({ image:"sass-html5-css3.svg", title:"HTML/CSS3/SASS" , text:"Get HTML Code for each components easily. You can also know wich import Sass to make optimized bundle."})
        +Encart({ image:"react-storybook.svg", title:"React/Storybook" , text:"Interactive live documentation of all components. You can play with components props to understand the functional of components."})
    section(class=`${prefix}-home__demotuto`)
      article(class=`${prefix}-home__demo`)
        h3(class=`${prefix}-home__demo-title`) Demo
        p(class=`${prefix}-home__demo-text`)
          | Discover our sample application and start your own.
        +ButtonLink({ right:Boolean(true), modifier:'demo has-icon-right', label: 'See demo', icon:'arrowthin-right', target:"_blank", href:'https://axaguildev.github.io/react-toolkit/latest/demo/' })
      article(class=`${prefix}-home__tuto`)
        h3(class=`${prefix}-home__tuto-title`) Tutorial
        p(class=`${prefix}-home__tuto-text`)
          | Discover our video tutorial and learn how to use.
        +ButtonLink({ modifier:'tuto has-icon-right', label: 'Watch tutorial', icon:'arrowthin-right', target:"_blank", href:'https://axaguildev.github.io/react-toolkit/latest/demo/' })
