extends ./commons/layout

block vars
  - var id = "home"
  - var menuState = "closed"

block meta
  -const { metatitle, metadescription, metakeywords } =  require('../src/pages/home/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -const { intro } = require('../src/pages/home/home.js')

block headerlinks
  +Headerlinks({ activePath:'/' })

block page
  div(class=`${prefix}-home`)
    +IntroHeader({intro, cmpt:'home', title: `<span class="${prefix}-slash">Slash</span> Design System`, links: [
      {
        label: 'Get started',
        href: '/get-started'
      }, {
        label: 'Composants',
        href: '/components',
        modifier: 'reverse'
      }
    ]})
    section(class=`${prefix}-home__explore`)
      h3(class=`${prefix}-home__explore-title`)
        | Explorer
        span(class=`${prefix}-slash`)
          | Slash
        | Design System
      div(class=`${prefix}-home__encarts`)
        +Encart({ image:"sketch-symbol.svg", title:"Design" , text:"Vous y trouverez toutes les ressources de conception graphique (icones, images, typographie, ...) qui nous ont permis de conduire au Design System. Profitez du design!"})
        +Encart({ image:"ux.svg", title:"UX Guidelines" , text:"Toutes les règles et guidelines pour tous les composants et patterns UX. Tout pour une meilleure expérience utilisateur."})
        +Encart({ image:"user-interface.svg", title:"User Interface" , text:"Obtenez facilement le code HTML et CSS pour chaque composant. Vous pouvez également définir les bons imports Sass pour créer un bundle optimisé."})
        +Encart({ image:"react.svg", title:"React" , text:"Documentation interactive de tous les composants. Vous pouvez jouer avec les propriétés des composants pour comprendre leur fonctionnement."})
    section(class=`${prefix}-home__simpler`)
      h3(class=`${prefix}-home__simpler-title`) Simpler, Faster, Together
      div(class=`${prefix}-home__encarts`)
        +Encart({ image:"simpler.svg", title:"Simpler" , text:"Une documentation complète afin de répondre facilement aux besoins utilisateurs."})
        +Encart({ image:"faster.svg", title:"Faster" , text:"Ce Design System a été créé afin d'optimiser les temps de conception des applicatifs métier."})
        +Encart({ image:"together.svg", title:"Together" , text:"Conçu en collaboration avec des développeurs et des UX pour les équipes produit."})