mixin Card({ modifier='', name = 'card', image, title, designSystem = { path: '', text: ''}, storybook= { path: '', text: ''} }) 
    -const classComponent = `${setClass(name, modifier, true)}`
    article(class=`${classComponent} ${prefix}-skeleton`)
        +Img({ className: `${prefix}-${name}__image`, img:image.name, alt:image.alt, modifier:image.modifier })
        header(class=`${prefix}-${name}__header`)
            h3(class=`${prefix}-${name}__title`) #{title}
        section(class=`${prefix}-${name}__content`)
            if designSystem.path !== ''
                a(class=`${prefix}-btn--circle ${prefix}-btn--svg` href=`${baseurl}/${designSystem.path}`  title=designSystem.text )
                    svg(class=`${prefix}-btn__img` xmlns="http://www.w3.org/2000/svg" viewBox="0 0 342.988 280")
                        path(d="M233.869 0h109.119L109.119 280H0L233.869 0zM299.988 144.545V239h-78.797l-34.203 41h156V93l-43 51.545zM43 41h78.797L156 0H0v187l43-51.545V41z")
            if storybook.path !== ''
                a(class=`${prefix}-btn--circle ${prefix}-btn--storybook` href=`${storybookBaseUrl}${storybook.path}`  title=storybook.text target="_blank" rel="noopener noreferrer")
                    svg(class=`${prefix}-btn__img` xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.6 12")
                        path(class="st0" d="M9.6.6C9.6.2 9.3 0 9 0h-.7v1.4s0 .1-.1.1h-.1l-.3-.4-.5.4h-.1v-.1L7.3 0 .6.5c-.3 0-.6.3-.5.6L.4 11c0 .3.3.6.6.6l8 .4c.3 0 .6-.3.6-.6V.6zM5.1 9.7c-1.4 0-2.7-.6-2.5-2.6.1-.2 1.9-.2 1.9 0 0 .8.2 1.1.6 1.1.4 0 .5-.2.5-.5 0-1.2-3-1.3-3-3.5C2.6 2.9 3.5 2 5 2c1.6 0 2.4.8 2.4 2.4-.2.2-1.8.3-1.8 0 0-.9-.4-.9-.6-.9-.2 0-.6.1-.6.5 0 1.2 3 1.1 3 3.5.1 1.4-.9 2.2-2.3 2.2z")

