
-const colorsList = require('@axa-fr/react-toolkit-core/src/common/scss/colorsList.js');
section
  h2.af-title--content Palette principale
  each linecolor, index in colorsList.primary
    ul.colors-list
      each itemcolor, index in linecolor
        li.colors-list__item
          span.colors-list__item-demo(style=`background:${itemcolor.hex};`)
          span.colors-list__item-name $#{itemcolor.name}
          span.colors-list__item-hexa #{itemcolor.hex}
          span.colors-list__item-title #{itemcolor.title}
section
  h2.af-title--content Palette secondaire
  each linecolor, index in colorsList.secondary
    ul.colors-list
      each itemcolor, index in linecolor
        li.colors-list__item
          span.colors-list__item-demo(style=`background:${itemcolor.hex};`)
          span.colors-list__item-name $#{itemcolor.name}
          span.colors-list__item-hexa #{itemcolor.hex}
          span.colors-list__item-title #{itemcolor.title}
section
  h2.af-title--content Couleur d’univers
  each linecolor, index in colorsList.theme
    ul.colors-list
      each itemcolor, index in linecolor
        li.colors-list__item
          span.colors-list__item-demo(style=`background:${itemcolor.hex};`)
          span.colors-list__item-name $#{itemcolor.name}
          span.colors-list__item-hexa #{itemcolor.hex}
          span.colors-list__item-title #{itemcolor.title}
section
  h2.af-title--content Couleurs composants
  each linecolor, index in colorsList.components
    ul.colors-list
      each itemcolor, index in linecolor
        li.colors-list__item
          span.colors-list__item-demo(style=`background:${itemcolor.hex};`)
          span.colors-list__item-name $#{itemcolor.name}
          span.colors-list__item-hexa #{itemcolor.hex}
          span.colors-list__item-title #{itemcolor.title}
section
  h2.af-title--content Autres couleurs
  each linecolor, index in colorsList.others
    ul.colors-list
      each itemcolor, index in linecolor
        li.colors-list__item
          span.colors-list__item-demo(style=`background:${itemcolor.hex};`)
          span.colors-list__item-name $#{itemcolor.name}
          span.colors-list__item-hexa #{itemcolor.hex}
          span.colors-list__item-title #{itemcolor.title}
