extends ../../../commons/layout

block meta
  -var activePath = '/molecules/form-radio';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)
  -var sassPath = 'react-toolkit-form-input-radio/dist/radio.scss'
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +MenuComponents({ activePath })

block headerlinks
  +Headerlinks({ activePath:'/components' })

block page
  +PageTitle({ title: 'Form Radio', subtitle: 'Molecule' })
  .tk-page__links
    +PageLinks({github, storybook, badge})
  +PageContentComponent({storybook})
    block code
      +Demo({ title:'Classic Input Radio', storybook, activePath, tmpl: 'form-radio', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Radio Success', storybook, activePath, tmpl: 'form-radio-success', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Radio Error', storybook, activePath, tmpl: 'form-radio-error', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Classic Input Radio Inline', storybook, activePath, tmpl: 'form-radio-inline', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Radio Success Inline', storybook, activePath, tmpl: 'form-radio-inline-success', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Radio Error Inline', storybook, activePath, tmpl: 'form-radio-inline-error', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Classic Input Radio Custom', storybook, activePath, tmpl: 'form-radio-custom', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Radio Success Custom', storybook, activePath, tmpl: 'form-radio-custom-success', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Radio Error Custom', storybook, activePath, tmpl: 'form-radio-custom-error', modifier: 'forminputtext', sassPath })
    block react
      iframe(class=`${prefix}-demo__iframe ${prefix}-demo__iframe--storybook` src=`${storybookBaseUrl}${storybook}`)
    block guidelines
      +PageMarkdown()
        include:markdown-it(html) ./markdown/guidelines.md
    block style
      +PageMarkdown()
        include:markdown-it(html) ./markdown/style.md
      +Colors({ colors })
