mixin Code({ htmlCode = '', sassCode = '' })
  div(class=`${prefix}-code__wrapper-outer`)
    div(class=`${prefix}-code__wrapper-middle`)
      div(class=`${prefix}-code__wrapper-inner`)
        div(class=`${prefix}-code__icon`)
          +Icon({id:'copy', modifier: 'copy'})
          span(class=`${prefix}-code__icon-text`) Copied
        pre.pre
          if htmlCode !== ''
            code.html
              | #{pretty(htmlCode())}
          if sassCode !== ''
            code.css
              | #{pretty(sassCode)}
