extends ../../../commons/layout

block meta
  -var activePath = '/organisms/accordion';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)
  -var sassPath = 'react-toolkit-collapse/dist/accordion.scss'
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +MenuComponents({ activePath })

block headerlinks
  +Headerlinks({ activePath:'/components' })

block page
  +PageTitle({ title: 'Accordion', subtitle: 'Organisms' })
  .tk-page__links
    +PageLinks({github, storybook, badge})
  +PageContentComponent({storybook})
    block code
      +Demo({ title:'Classic Accordion', storybook, activePath, tmpl: 'accordion', sassPath })
      +Demo({ title:'Accordion with right arrow', storybook, activePath, tmpl: 'accordion-right-arrow', sassPath })
      +Demo({ title:'Accordion light', storybook, activePath, tmpl: 'accordion-light', sassPath })
    block react
      iframe(class=`${prefix}-demo__iframe ${prefix}-demo__iframe--storybook` src=`${storybookBaseUrl}${storybook}`)
    block guidelines
      +PageMarkdown()
        include:markdown-it(html) ./markdown/guidelines.md
    block style
      +PageMarkdown()
        include:markdown-it(html) ./markdown/style.md
      +Colors({ colors })
