meta(charset="utf-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0")
meta(name="Content-Language" content=lang)
meta(name="Subject" content=title)
meta(name="Copyright" content=copyright)
meta(name="Author" content=author)
meta(name="Publisher" content=author)
meta(name="Identifier-Url" content=baseurl)
meta(name="Reply-To" content=email)
meta(name="Revisit-After" content="15 days")
meta(name="Robots" content="all")
meta(name="Rating" content="general")
meta(name="Distribution" content="global")
meta(name="Geography" content=geography)
meta(name="Category" content="engineering")
meta(name="DC.Title" content=title)
meta(name="DC.Content-Language" content=lang)
meta(name="DC.Description" content=description)
meta(name="DC.Keywords" content=keywords)
meta(name="DC.Subject" content=title)
meta(name="DC.Copyright" content=copyright)
meta(name="DC.Author" content=author)
meta(name="DC.Publisher" content=author)
meta(name="DC.Identifier-Url" content=baseurl)
meta(name="DC.Reply-To" content=email)
meta(property='og:image' content=`${baseurl}${pathImg}${avatar}`)
meta(property='og:site_name' content='GitHub AxaGuiDev')
meta(property='og:type' content='profile')
meta(property='og:title' content=title)
meta(property='og:url' content=baseurl)
meta(property='og:description' content=description)
meta(property='profile:username' content=author)



