-var modifier = ["circle", "circle-small"];

each mod in modifier
  .tk-block-demo
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/pushpin.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/print.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/arrow-xs-down.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/heart.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/eye-open.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/menu-hamburger.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/remove.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/filter.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/floppy-disk.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../style/icons/templates/open.pug
