-var modifier = ["circle", "circle-small"];

each mod in modifier
  .tk-block-demo
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/pushpin.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/print.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/arrow-xs-down.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/heart.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/eye-open.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/menu-hamburger.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/remove.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/filter.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/floppy-disk.pug
    div.fordemo
      a(class=`af-btn--${mod}` href="#" role="button" )
        include ../../../guidelines/icones/templates/open.pug
