extends ../../../commons/layout

block meta
  -var activePath = '/molecules/form-textarea';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)
  -var sassPath = 'react-toolkit-form-input-textarea/dist/textarea.scss'
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +MenuComponents({ activePath })

block headerlinks
  +Headerlinks({ activePath:'/components' })

block page
  +PageTitle({ title: 'Form Textarea', subtitle: 'Molecule' })
  .tk-page__links
    +PageLinks({github, storybook, badge})
  +PageContentComponent({storybook})
    block code
      +Demo({ title:'Classic Input Textarea', storybook, activePath, tmpl: 'form-textarea', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Textarea Success', storybook, activePath, tmpl: 'form-textarea-success', modifier: 'forminputtext', sassPath })
      +Demo({ title:'Input Textarea Error', storybook, activePath, tmpl: 'form-textarea-error', modifier: 'forminputtext', sassPath })
    block react
      iframe(class=`${prefix}-demo__iframe ${prefix}-demo__iframe--storybook` src=`${storybookBaseUrl}${storybook}`)
    block guidelines
      +PageMarkdown()
        include:markdown-it(html) ./markdown/guidelines.md
    block style
      +PageMarkdown()
        include:markdown-it(html) ./markdown/style.md
      +Colors({ colors })
