mixin Repo({ homepage="/", version="0.0.0", modifier="", stars="0", icon="coding", title="Repository Title", desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus eum consequuntur assumenda. Voluptatum..."})
	div(class=`${prefix}-repo${modifier !== "" ? ` ${prefix}-repo--${modifier}` : ""} ${prefixjs}-repo`)
		+Icon({id:"slash", modifier:"repo-slash"})
		div(class=`${prefix}-repo__info`)
			+Title({level:"h3", modifier:"repo-version"})
				| v#{version}
			div(class=`${prefix}-repo__img`)
				+Icon({id:icon, modifier:"repo"})
				+More({modifier:"repo", href:homepage, target:'_blank'})
			div(class=`${prefix}-repo__star`)
				+Icon({id:"star", modifier:"star"})
				+Title({level:"h4", modifier:"star"})
					| #{stars}
		div(class=`${prefix}-repo__text`)
			+Title({level:"h1", modifier:"repo-title"})
				| #{title}
			p(class=`${prefix}-repo__intro ${prefixjs}-repo__intro`)
				| !{desc}
