mixin IntroHeader({ modifier='', title, intro, cmpt, links})
    header(class=`${prefix}-${cmpt}__header`)
        if(title !== '')
            h1(class=`${prefix}-${cmpt}__title`)
                | !{title}
        if(intro !== '')
            p(class=`${prefix}-${cmpt}__intro`)
                | #{intro}
        each link, index in links
            +ButtonLink({label:link.label, href:link.href, modifier: link.modifier  })
        p View the 
            a(href="https://github.com/AxaGuilDEv/react-toolkit" title="Source Github") source on GitHub
                