mixin PageSummary()
  ul(class=`${prefix}-page__summary`)
    li(class=`${prefix}-page__summary-item`)
      span(class=`${prefix}-page__summary-link ${prefixjs}-smooth-links` data-target="pageguidelines") Guidelines
    li(class=`${prefix}-page__summary-item`)
      span(class=`${prefix}-page__summary-link ${prefixjs}-smooth-links` data-target="pagecode") Code
    li(class=`${prefix}-page__summary-item`)
      span(class=`${prefix}-page__summary-link ${prefixjs}-smooth-links` data-target="pagestyle") Style
